body {
    max-width: 540px;
    min-width: 320px;
    margin: 0 auto;
    font: 400 16px/1.5 PingFangSC-regular, Tahoma, "Lucida Grande", Verdana, "Microsoft Yahei", STXihei, hei;
    color: #000;
    /* background-color: lightcoral; */
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #222;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}


/* 顶部搜索 */

.search-index {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 44px;
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    background-color: #f6f6f6;
    border-top: 1px solid#ccc;
    border-bottom: 1px solid#ccc;
}

.search {
    position: relative;
    flex: 1;
    height: 26px;
    border: 1px solid #ccc;
    margin: 7px 10px;
    /* background-color: rgb(248, 234, 236); */
    border-radius: 13px;
    padding-left: 25px;
    font-size: 12px;
    color: #666;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.search::before {
    position: absolute;
    top: 4px;
    left: 5px;
    content: "";
    width: 26px;
    height: 26px;
    background: url(../images/sprite.png) no-repeat -59px -280px;
    background-size: 104px auto;
}

.user {
    width: 44px;
    height: 44px;
    /* background-color: orangered; */
    font-size: 12px;
    color: rgb(128, 181, 235);
    text-align: center;
}

.user::before {
    content: "";
    display: block;
    width: 23px;
    height: 23px;
    background: url(../images/sprite.png) no-repeat -59px -194px;
    background-size: 104px auto;
    margin: 5px auto -3px;
}


/* 焦点图 */

.focus {
    padding-top: 44px;
}

.focus img {
    width: 100%;
}


/* 局部导航 */

.local-nav {
    display: flex;
    height: 64px;
    margin: 3px 4px;
    background-color: rgb(250, 242, 236);
    /*fff */
    border-radius: 8px;
}

.local-nav li {
    flex: 1;
}

.local-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.local-nav li [class^="local-nav-icon"] {
    width: 32px;
    height: 32px;
    background: url(../images/localnav_bg.png) no-repeat 0 0;
    background-size: 32px auto;
    margin-top: 8px;
}

.local-nav li .local-nav-icon-icon2 {
    background-position: 0 -32px;
}

.local-nav li .local-nav-icon-icon3 {
    background-position: 0 -64px;
}

.local-nav li .local-nav-icon-icon4 {
    background-position: 0 -96px;
}

.local-nav li .local-nav-icon-icon5 {
    background-position: 0 -128px;
}

nav {
    overflow: hidden;
    border-radius: 8px;
    margin: 0 4px 3px;
}

.nav-common {
    display: flex;
    height: 88px;
    background-color: pink;
}

.nav-common:nth-child(2) {
    margin: 3px 0;
}

.nav-items {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.nav-items a {
    flex: 1;
    font-size: 14px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px rgba(0, 0, 0, .2);
}

.nav-items a:nth-child(1) {
    border-bottom: 1px solid #fff;
}

.nav-items:nth-child(2) {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

.nav-items:nth-child(1) a {
    border: 0;
    background: url(../images/hotel.png) no-repeat bottom center;
    background-size: 121px auto;
}

.nav-common:nth-child(1) {
    background: -webkit-linear-gradient(left, #FA5b88, #FA984E);
}

.nav-common:nth-child(2) {
    background: -webkit-linear-gradient(left, #4B91ED, #53BBED);
}

.nav-common:nth-child(3) {
    background: -webkit-linear-gradient(left, #35C2A8, #6BD55C);
}


/* 侧导航栏 */

.subnav {
    display: flex;
    background-color: #fff;
    margin: 0 4px;
    border-radius: 8px;
    flex-wrap: wrap;
}

.subnav li {
    flex: 20%;
}

.subnav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.subnav-icon {
    width: 28px;
    height: 28px;
    background: url(../images/subnav-bg.png) no-repeat 0 0;
    background-size: 28px auto;
    margin-top: 4px;
}


/* 销售模块 */

.sales {
    border-top: 1px solid #bbb;
    background-color: #fff;
    margin: 4px;
    margin-bottom: 70px;
}

.sales-hd {
    position: relative;
    height: 44px;
    border-bottom: 1px solid #ccc;
}

.sales-hd h2 {
    position: relative;
    text-indent: -999px;
    overflow: hidden;
}

.sales-hd h2::after {
    position: absolute;
    top: 5px;
    left: 10px;
    content: "";
    width: 79px;
    height: 15px;
    background: url(../images/hot.png) no-repeat 0 -20px;
    background-size: 79px auto;
}

.more {
    position: absolute;
    top: 0;
    right: 5px;
    background: -webkit-linear-gradient(left, #ff5170, #ff6bc4);
    color: #fff;
    border-radius: 15px;
    padding: 3px 20px 3px 10px;
}

.more::after {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    width: 7px;
    height: 7px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
}

.row {
    display: flex;
}

.row a {
    flex: 1;
    border-bottom: 1px solid #eee;
}

.row a:nth-child(1) {
    border-right: 1px solid #eee;
}

.row a img {
    width: 100%;
}


/* 底部 */

.dibu {
    position: fixed;
    width: 100%;
    max-width: 540px;
    min-width: 320px;
    bottom: 0%;
    display: flex;
    height: 64px;
    margin: 3px 0;
    background-color: #fff;
    border-top: 1px solid #666;
    border-bottom: 1px solid #666;
}

.dibu li {
    flex: 1;
}

.dibu a {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
}

.dibu li [class^="dibu-icon"] {
    width: 20px;
    height: 20px;
    background: url(../images/sprite.png) no-repeat -59px -153px;
    background-size: 104px auto;
    margin-top: 8px;
    margin-top: 10px;
}

.dibu li .dibu-icon-icon2 {
    background-position: -59px -173px;
}

.dibu li .dibu-icon-icon3 {
    background-position: -59px -310px;
}