body {
    min-width: 320px;
    max-width: 750px;
    width: 10rem;
    margin: 0 auto;
    line-height: 1.5;
    font-family: Arial, Helvetica;
    background: #F2F2F2;
}

a {
    text-decoration: none;
    font-size: .333333rem;
}

@media screen and (min-width:750px) {
    html {
        font-size: 75px!important;
    }
}


/* 顶部搜索栏 */

.search-content {
    display: flex;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 10rem;
    height: 1.173333rem;
    background-color: #ffc001;
}

.fl {
    width: .586667rem;
    height: .933333rem;
    margin: .146667rem .333333rem .093333rem .32rem;
    background: url(../images/classify.png) no-repeat;
    background-size: .586667rem .933333rem;
}

.search {
    flex: 1;
}

.search input {
    outline: none;
    border: 0;
    width: 100%;
    height: .88rem;
    font-size: .333333rem;
    background-color: #fff2cc;
    border-radius: .44rem;
    color: #757575;
    margin: .133333rem;
    padding-left: .6rem;
}

.login {
    width: 1rem;
    height: .933333rem;
    margin: .133333rem;
    color: #fff;
    line-height: .933333rem;
    text-align: center;
}


/* banner */

.banner {
    width: 10rem;
    height: 4.906667rem;
}

.banner a img {
    width: 100%;
    height: 100%;
}


/* 广告栏 */

.gg {
    display: flex;
}

.gg a {
    flex: 1;
}

.gg a img {
    width: 100%;
}


/* 导航栏 */

nav {
    width: 10rem;
}

nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    float: left;
    width: 2rem;
    height: 1.866667rem;
}

nav a img {
    width: 1.093333rem;
    height: 1.093333rem;
    margin: .133333rem;
}

nav span {
    font-size: .333333rem;
    color: #333;
}