    body {
        margin: 0 auto;
        min-width: 320px;
        max-width: 640px;
        font-size: 14px;
        font-family: -apple-system, Helvetica, sans-serif;
        line-height: 1.5;
        color: #666
    }
    /*点击高亮我们需要清除清除  设置为transparent 完成透明*/
    
    * {
        -webkit-tap-highlight-color: transparent;
    }
    /*在移动端浏览器默认的外观在iOS上加上这个属性才能给按钮和输入框自定义样式*/
    
    input {
        -webkit-appearance: none;
    }
    /*禁用长按页面时的弹出菜单*/
    
    img,
    a {
        -webkit-touch-callout: none;
    }
    
    img {
        vertical-align: middle;
    }
    
    .app {
        width: 100%;
        height: 45px;
        background-color: #333;
    }
    
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    
    .app ul li {
        float: left;
        height: 45px;
        text-align: center;
        line-height: 45px;
        color: white;
    }
    
    .app ul li:nth-child(1) {
        width: 8%;
    }
    
    .app ul li:nth-child(1) img {
        width: 16px;
    }
    
    .app ul li:nth-child(2) {
        width: 10%;
    }
    
    .app ul li:nth-child(2) img {
        width: 30px;
    }
    
    .app ul li:nth-child(3) {
        width: 57%;
    }
    
    .app ul li:nth-child(4) {
        width: 25%;
        background-color: red;
    }
    
    .search-w {
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 44px;
        min-width: 320px;
        min-width: 540px;
    }
    
    .search-l,
    .search-r {
        position: absolute;
        top: 0;
        width: 40px;
        height: 44px;
    }
    
    .search-l {
        left: 0;
        background-color: rosybrown;
    }
    
    .search-l::before {
        content: "";
        display: block;
        width: 20px;
        height: 18px;
        background: url(../images/s-btn.png) no-repeat;
        background-size: 20px 18px;
        margin: 8px 0 0 15px;
    }
    
    .search-r {
        right: 0;
        background-color: salmon;
    }
    
    .search-m {
        /* width: 100%; */
        position: relative;
        height: 30px;
        margin: 7px 50px 0;
        background-color: #fff;
        border-radius: 15px;
    }
    
    z .jd-icon {
        width: 20px;
        height: 15px;
        position: absolute;
        top: 8px;
        left: 10px;
        background: url(../images/jd.png) no-repeat;
        background-size: 20px 15px;
    }
    
    .jd-icon::after {
        content: "";
        display: block;
        width: 1px;
        height: 15px;
        background-size: #666;
        position: absolute;
        top: 0;
        left: 23px;
    }
    
    .sou {
        width: 18px;
        height: 15px;
        background-color: blue;
        position: absolute;
        top: 8px;
        left: 40px;
        background: url(../images/jd-sprites.png) no-repeat -82px 0;
        background-size: 200px auto;
    }
    
    .banner img {
        width: 100%;
    }
    
    .xiaojiadian div {
        float: left;
        width: 33.33%;
    }
    
    .xiaojiadian div img {
        width: 100%;
    }
    
    nav {
        width: 100%;
        background-color: #fff;
    }
    
    nav a {
        float: left;
        width: 20%;
        text-decoration: none;
        text-align: center;
        color: #666;
        font-size: 14px;
    }
    
    nav a img {
        width: 40px;
        margin: 10px 0;
    }
    
    nav a span {
        display: block;
    }
    
    .chanpin {
        width: 100%;
    }
    
    .chanpin a {
        float: left;
    }
    
    .chanpin a:nth-child(1) {
        width: 50%;
    }
    
    .chanpin a:nth-child(n+2) {
        width: 25%;
        border-left: 1px solid #666;
        box-sizing: border-box;
    }
    
    .chanpin a img {
        width: 100%;
    }